*{
    margin: 0;
    padding: 0;

        font-family: "Work Sans", serif;
        font-optical-sizing: auto;
      font-style: normal;
      font-variation-settings:
      "wdth" 100;
}
/* body{
    margin-top: 25px;
    margin-left: 20px;
} */
/* header styles */
.header{

background: url("/images/developer.png"), url("/images/header_bg.png"),#FFF8F3;
    background-repeat: no-repeat;
    background-size: 5%,43.2%; 
    background-position: top 30px left 17px ,bottom right;

   height: 500px;
}
/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
 align-items: center;
padding: 0px 90px;
}

.navtitle{
    font-weight: 800;
    font-size: 45px;
}
.differentcolor{
    color: #FD6E0A;
}
nav >ul{
    display: flex ;
    list-style: none;
align-items: center;
}
nav > ul  li{
    padding: 10px;
    margin: 8px;
}
nav > ul  li a{

text-decoration: none;
font-size: 20px;

color: #5e5d5d;
}
.btn{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 13px 24px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

/* banner style  */
.banner{
    display: flex;
    align-items: center;
justify-content: space-between;

}
.banner >.banner-content{
    max-width: 600px;
    margin-left: 2.5cm;
 
}
.banner >.banner-content > h3{
    line-height: 40px;
    font-size: 28px;
    color: #474747;
}
.banner >.banner-content > h1{
    line-height: 60px;

    font-size: 40px;
    color: rgb(24, 24, 24);
}
.banner >.banner-content > p{
    line-height: 25px;

    font-size: 15px;
    color: #757575;
}
.banner >.banner-content > button{
    margin: 20px 0;
    
}
.btn-dif{
    border: 2px solid #FD812B;

 padding: 12px 30px;
 font-weight: bold;
 border-radius: 5px;
    color: #FD6E0A;
    font-size: 18px;
    cursor: pointer;
    background-color: transparent;
}
.diff{
    margin-left: 15px;
    display: inline;
}
.banner-image img{
    height: 417px;
    width: 360px;
    margin-right: 1em;
}

/* shared styles */
.section-title{
        font-size: 30px;
        font-weight: bold;
        color: #181818;
text-align: center;
margin: 0px 10px 30px;

}
/* main tag styles */
main{
    max-width: 800px;
    margin: 0 auto;
}
/*about section styles */
.border{
    margin: 2.5cm 0;
    background-color: #FFF8F3;
    padding: 2cm;

border-radius: 5px;
}
.about{
    border: 1px solid black;
    padding: 10px 20px 20px;
    background-color: white;
}
.section-description{
    font-size: 14px;
    color: #757575;
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.detils{
    font-weight: 600;
    font-size: 16px;
    color: #181818;
    margin: 5px 0;
}
.questions{
    font-size: 16px;
    color: #757575;
}
.about-items{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    gap: 15px;
}

/* whatido styles*/
.whatido{
   /* max-width: 950px;
    margin: 0 auto; */
    margin-bottom: 2cm;
}
.whatido >h2{
    margin: 0 4cm 30px;
}
.whatido >p{
    margin: 0 1.5cm 20px;
}
.skill{
    display: flex;
    gap: 25px;
    margin-top: 50px;
    justify-content: space-evenly;
}
.skill-items{
line-height: 23px;
height: 290px;
border-radius: 5px;
width: 200px;
padding: 5px 10px;
box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 6%);
}
.skill-items>img{
    margin: 6px 0;
    height: 32px;
    width: 38px;
}
.skill-items>h4{
    font-size: 18px;
    margin: 8px 0;
    color: #181818;
}
.skill-items>p{
    font-size: 14px;
    margin: 15px 0;
    color: #757575;
}
/* resume styles */
.resume{
    margin: 2cm 0;
}
.resume h1{
    font-size: 30px;
    color: #181818;
}
.resume-container{
    display: flex;
    justify-content:space-around;
    gap: 80px;
    align-items: center;
}
.resume-column{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 1.5cm 0 1.2cm;
}
.resume-column > h2{
    color: #474747;
    font-size: 25px;
}
.resume-content{
    padding: 20px 20px 0;
}
#border{
    border-top: 1px solid gray;

}
.resume-content h4{
    color: #474747;
    font-size: 20px;
   margin-bottom: 25px;
}
.norp{
    color: #757575;
    font-size: 16px;
   margin-bottom: 15px;
}
.diffp{
    color: #757575;
    font-size: 13px;
   margin-bottom: 15px;
}
.button{
    text-align: center;
}


/* footer styles */
footer{
    background-color: #FFF8F3;
    padding: 3cm;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
     gap: 200px; 
}
.footer-column{
    width: 40%;
}
.footer-column h2{
    font-size: 25px;
    color: #181818;
}
.footer-column p{
font-size: 14px;
    margin-top: 20px;
    line-height: 25px;
   color: #474747;
}
.footer-image{
    margin-top: 20px;
}
.footer-image img{
    margin: 0 5px 20px;
}
footer form input[type="text"] ,input[type="email"]{
    width: 100%;

    padding: 8px 8px 8px 8px;
    margin: 15px 0;
    display: block;
    border: none;
}

footer form textarea{
    border: none;
width: 100%;
    padding: 8px 8px 8px 8px;
    margin: 15px 0;
    display: block;
}
.drop{
    margin-bottom: 30px;
  }