*{
    margin: 0;
    padding: 0;

        font-family: "Work Sans", serif;
        font-optical-sizing: auto;
      font-style: normal;
      font-variation-settings:
      "wdth" 100;
}
body{
    margin-top: 25px;
    margin-left: 20px;
}
/* header styles */
.header{

background: url("/images/developer.png"), url("/images/header_bg.png"),#fffcfa;
    background-repeat: no-repeat;
    background-size: 5.6%,42%; 
    background-position: top left,bottom right;

   height: 500px;
}
/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
 align-items: center;
padding: 0px 90px;
}

.navtitle{
    font-weight: 800;
    font-size: 45px;
}
.differentcolor{
    color: #FD6E0A;
}
nav >ul{
    display: flex ;
    list-style: none;
align-items: center;
}
nav > ul  li{
    padding: 10px;
    margin: 8px;
}
nav > ul  li a{

text-decoration: none;
font-size: 20px;

color: #5e5d5d;
}
.btn{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 13px 24px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

/* banner style  */
.banner{
    display: flex;
    align-items: center;
justify-content: space-between;

}
.banner >.banner-content{
    max-width: 600px;
    margin-left: 2.5cm;
 
}
.banner >.banner-content > h3{
    line-height: 40px;
    font-size: 28px;
    color: #474747;
}
.banner >.banner-content > h1{
    line-height: 60px;

    font-size: 40px;
    color: rgb(24, 24, 24);
}
.banner >.banner-content > p{
    line-height: 25px;

    font-size: 15px;
    color: #757575;
}
.banner >.banner-content > button{
    margin: 20px 0;
    
}
.btn-dif{
    border: 2px solid #FD812B;

 padding: 12px 30px;
 font-weight: bold;
 border-radius: 5px;
    color: #FD6E0A;
    font-size: 18px;
    cursor: pointer;
    background-color: transparent;
}
.diff{
    margin-left: 15px;
    display: inline;
}
.banner-image img{
    height: 417px;
    width: 360px;
    margin-right: 1em;
}
